## Dats structures in Python
### 1) List

In [1]:
l=[]
type(l)

list

In [4]:
li=[1,2,3,4,5]
#print(li[0]) #index of list starts from 0
li[0:]

[1, 2, 3, 4, 5]

In [7]:
l=['q','w',1,2,34]
l[::-1]

[34, 2, 1, 'w', 'q']

In [8]:
l[::2]

['q', 1, 34]

In [9]:
name='Python'
mylist=list()
type(mylist)

list

In [10]:
q=['qwerty','poiu',345,98]
len(q)

4

### List methods

In [14]:
#Append
q=['qwerty','poiu',345,98]
q.append('wert')
q

['qwerty', 'poiu', 345, 98, 'wert']

In [15]:
w=['mnbvc','vcxz',76543]
q.append(w)
q

['qwerty', 'poiu', 345, 98, 'wert', ['mnbvc', 'vcxz', 76543]]

#### Extend Method

In [17]:
n=['tyuyi','fdhgh','ouio']
o=['dfgdg','hjkkhk','hkjhl']
n.extend(o)
n

['tyuyi', 'fdhgh', 'ouio', 'dfgdg', 'hjkkhk', 'hkjhl']

#### Copy()
- To take new backup of available list

In [18]:
h=[34,789,4354,90]
l=h.copy()
l

[34, 789, 4354, 90]

In [19]:
g=['Vijaya','Rekha']
g[0]='Jaya'
g

['Jaya', 'Rekha']

### Clear()
- To remove all items in list

In [21]:
g

['Jaya', 'Rekha']

In [ ]:
g.clear

#### Count(item)

In [26]:
g=['werer','ety','ytiyu','vbnbm','t']
g

['werer', 'ety', 'ytiyu', 'vbnbm', 't']

In [27]:
g.count('t')

1

In [28]:
n=[234,67867,234,89,3,[7,3,4]]
n.count(3)

1

#### Index

In [33]:
n=[1,2,3,1,2,3,1,2,3]
n

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [35]:
n.index(3,4) #Finding 3 index number after 4th index

5

####  Insert(index_value,item)

In [40]:
n=[1,2,3,4,5,6,7,8,9,10]
n.insert(100,12)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [41]:
n.insert(1,0)
n

[1, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

####  Pop()
- Removes the element at the specific position

In [43]:
gg=['qw','dfg','tyu','nbm','rert']
gg.pop(2)
gg

['qw', 'dfg', 'nbm', 'rert']

#### Remove()
- Removes spefic item

In [44]:
ag=['cxv','bv','mbn','zxc']
ag.remove('bv')
ag

['cxv', 'mbn', 'zxc']

#### reverse()

In [45]:
ag.reverse()
ag

['zxc', 'mbn', 'cxv']

#### sort()

In [46]:
c=['Toyato','Tata','Suzuki','Hundai','Walksvagon']
c.sort()
c

['Hundai', 'Suzuki', 'Tata', 'Toyato', 'Walksvagon']

In [47]:
#Examples

"""
Function to identify second largest element in a unique list
    sort the data and select the 2nd last element
    sort the data in reverse order,and select the second element
"""

l=[1,2,3,4,5]
def sgt(l):
    l.sort()
    return l[-2]
sgt(l)

4

### Tasks

In [7]:
#Given list contains all electronic items[mobile,laptop,speakers,door,files]. 
#If you find any item which is not related to electronics then remove it using slicing method.

electronic_items=['mobile','laptop','speakers','door','files']
electronic_items.remove(electronic_items[3])
print(electronic_items)
electronic_items.remove(electronic_items[3])
print(electronic_items)

['mobile', 'laptop', 'speakers', 'files']
['mobile', 'laptop', 'speakers']

In [3]:
#Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]
list1 = [10,20,34,44,88]
print(len(list1))
list1.sort()
print(list1[0],'is the minimum number\n',list1[-1],'is the maximum number')

5
10 is the minimum number
 88 is the maximum number

In [8]:
#Take a list of elements and add that list into another empty list
l=[1,2354,678,89,98]
q=[]
q=l.copy()
q

[1, 2354, 678, 89, 98]

In [18]:
#Sort the list of elements in ascending order and descending order.
l=[1,2354,678,89,98]
l.sort() #descending
print(l,'is asscending ordered list')
l.reverse()
print(l,'is descending ordered list')

[1, 89, 98, 678, 2354] is asscending ordered list
[2354, 678, 98, 89, 1] is descending ordered list

In [10]:
# Write a python program to print the sum and average of elements in the list.
q=[1,2,3,4,5,6,7,8,9]
s=0
for i in range(len(q)+1):
    s=s+i
print(s,'is the sum of elements in the list')
print(s//len(q),'is the average of elements ')

45
5