## Tuples
- Collection of elements which is ordered and unchangeable

In [3]:
t=(1,2,3,4)
print(t)
print(type(t))
for i in t:
    print(t)

(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [8]:
q=['a','b','c']
q=tuple(q)
print(len(q))
q.count('b')

3

1

In [9]:
if 'd' in q:
    print(True)
else:
    print(False)

False

In [12]:
#Python program to reverse the given elements in tuple.
t=(2,4,6,8,10)
print(t[::-1])

(10, 8, 6, 4, 2)

In [ ]:
#Python program to print names in tuples using iterations
t=("Chandini","ani","Karuna")
for i in t:
    print(i)

Bhargavi

In [10]:
q=(1,2,3,4)
w=('1243',345,'657')
print(q+w)

(1, 2, 3, 4, '1243', 345, '657')

In [14]:
#program to covert into string
q=['q','w']
print("".join(q))

qw

## Sets

In [15]:
s={10,200,30,10}
s

{10, 30, 200}

In [21]:
for i in s:
    print(i)

200
10
30

In [23]:
m={'wer','yrt','uty'}
m.add('vb')
m.add('ewrvb')
m

{'ewrvb', 'uty', 'vb', 'wer', 'yrt'}

In [24]:
m.update(['mnbvc','kjh'])
m

{'ewrvb', 'kjh', 'mnbvc', 'uty', 'vb', 'wer', 'yrt'}

In [25]:
m.remove('vb')
m

{'ewrvb', 'kjh', 'mnbvc', 'uty', 'wer', 'yrt'}

- discard

In [26]:
m.discard('ewrvb')
m

{'kjh', 'mnbvc', 'uty', 'wer', 'yrt'}

In [29]:
m.pop()

'wer'

### Union()

In [35]:
z={1,2,3,56}
x={4,56,7}
print(x.union(z))
print(x.intersection(z))
print(z.difference(x))

{1, 2, 3, 4, 7, 56}
{56}
{1, 2, 3}

In [36]:
print(z.difference_update(x))

None

In [37]:
q={1,2,3,4,56,78}
w={9,70,7,64,1,2,3,4,56,78}
q.issubset(w)

True

## Packages & Modules
- Package: Collection of modeuls
- Module: A single python file containg functions
- Package --> Subpackages --> Modules---> Funcitons

In [43]:
# Package

from math import floor as f
f(324567.98765)

324567

In [5]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=' ')
rand(10,1,100)

66 73 12 100 29 38 48 40 70 28

In [48]:
from math import sqrt
print(sqrt(199))

14.106735979665885

In [ ]:
#Take two sets and print the result using methods like 

#Intersection_update',
# 'isdisjoint',
 #'issuperset',
# 'symmetric_difference',
# 'symmetric_difference_update'
# and so on.

In [8]:
s1={1,2,3}
s2={1,2,3,12,45}
s1.intersection_update(s1)
print(s1)
s1.issuperset(s2)
print(s1)

{1, 2, 3}
{1, 2, 3}

In [10]:
s2.isdisjoint(s2)
print(s1)

{1, 2, 3}

In [ ]:
s1.symmetric_difference(s2)
print(s1)

In [11]:
s1.symmetric_difference_update(s2)
print(s1)

{12, 45}